body {
    font-family: Arial, sans-serif;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.result {
    margin-top: 20px;
}

.calc{
    max-width: 350px; 
    margin: 150px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #666ec8a7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.421); 
    text-align: justify;
}

img{
    height: 32%;
    width: 32%;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }